.card-profile {
  width: $card-profile-size;
  height: $card-profile-size;
  border-radius: 50%;
  overflow: hidden;
  @include background-image('../assets/default-s.jpeg');
  margin: 10px 0;
  position: relative;
  border: 3px solid $color-white;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &-face {
    width: $card-profile-face-width;
    height: $card-profile-face-height;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(($card-profile-size - $card-profile-face-width) / 2);
  }

  &-info {
    padding: 5px 0;
    height: 25%;
    box-sizing: border-box;
    background-color: $color-modal;
  }

  &-link {
    padding: 15px;
    font-size: 1.5em;
    color: $color-white;
  }

  &-link:hover {
    color: $color-green;
  }

  &-text {
    text-align: center;
    margin: auto;
    width: 50%;
    line-height: 1.5em;
  }

  &-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-modal;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height 0.3s ease-out;
  }

  &-overlay-content {
    @include flexbox($mainAxis: space-evenly);
    height: 100%;
  }
}

.card-profile:hover .card-profile-overlay {
  height: 75%;
}

.card-profile.architector {
  @include background-image('../assets/build-s.jpeg');
}

.card-profile.programmer {
  @include background-image('../assets/code-s.jpeg');
}
