.pagination {
  @include flexbox();
  margin: 10px 0;

  &-item {
    padding: 10px 18px;
    user-select: none;
  }

  &-item:hover {
    background-color: $color-orange
  }

  &-item-active {
    background-color: $color-green;
  }
}
