// colors main
$color-white: #ffffff;
$color-grey: #f3f3f3;
$color-green: #81bd3c;
$color-orange: #ff7d4d;
$color-purple: #423b4e;
$color-lightblue: #486c90;
// colors elements
$color-section: #282E34;
$color-modal: rgba(17, 17, 17, 0.7);
// size
$s-header-height: 320px;
$m-header-height: 460px;
$l-header-height: 600px;
$s-footer-height: 220px;
// viewport
$mobile: 376px;
$tablet: 769px;
$laptop: 1025px;
$large: 1441px;
// parallax
$height-parallax: 250px;
// elements
// input
$padding-input: 12px;
// card-profile
$card-profile-size: 240px;
$card-profile-face-width: 180px;
$card-profile-face-height: 60%;
// form
$s-height-textarea: 180px;
