// colors main
$color-white: #ffffff;
$color-grey: #f3f3f3;
$color-green: #81bd3c;
$color-orange: #ff7d4d;
$color-purple: #423b4e;
$color-lightblue: #486c90;
// colors elements
$color-section: #282E34;
$color-modal: rgba(17, 17, 17, 0.7);
// size
$s-header-height: 320px;
$m-header-height: 460px;
$l-header-height: 600px;
$s-footer-height: 220px;
// viewport
$mobile: 376px;
$tablet: 769px;
$laptop: 1025px;
$large: 1441px;
// parallax
$height-parallax: 250px;
// elements
// input
$padding-input: 12px;
// card-profile
$color-card-architector: rgba(76, 66, 95, 0.7);
$color-card-architector-hover: #5f4d7b;
$color-card-programmer: rgba(162, 58, 58, 0.7);
$color-card-programmer-hover: #c73126;
$card-profile-height: 220px;
$card-profile-width: 300px;
$card-profile-face-width: 170px;
$card-profile-face-height: 45%;
$card-profile-info-height: 30%;
$card-profile-radius: 20px;
// form
$s-height-textarea: 180px;
